@font-face {
    font-family: nunito;
    src: url('../../Nunito/Nunito-Regular.ttf');
} 

body {
    font-family: nunito;
}

.img-container::after{
content: '';
background-color: #b8dfff;
height: 40px;
width: 40px;
position: absolute;
left: 50%;
bottom: 40%;
border-radius: 50%;
transform: translate(-50%, 0);
}

.img-container{
    position: relative;
}
